/*--------------------HEADER--------------------*/

#page-content .jumbotron{
	border-radius: 0;
}

.jumbotron{
	padding: 0;
	margin: -2px -15px 5px -15px;
	background: radial-gradient(#6f7173  50%, #2d2a2b 120%);
}

header img{
	width: 50%;
	height: auto;
	margin: 0px auto 5px auto;
	padding-top: 10px;
	display: block;
}

header p{
	text-align: center;
	color: #cecece
}

/*--------------------PAGE ITEMS--------------------*/

.pageItem {
	padding: 40px 0 40px 0 ;
}

.pageItem img, iframe{
	width: 100%;
	height: auto;
	margin-right: 10px;
}

.pageItem.mobile p, .pageItem.mobile h4, .pageItem.mobile li{
	font-size: 25px;
}

.pageItem ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.pageItem h1{
	color: rgb(220, 220, 220);
}

.pageItem li{
	list-style: none;
	margin: 0;
}

/*--------------------YOUTUBE EMBEDDING--------------------*/
.youtube-container { display: block; margin: 20px auto; width: 100%; max-width: 600px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/*--------------------GENERAL--------------------*/
html {
  position: relative;
  min-height: 100%;
}
body {
	color: rgb(180, 180, 180);
	background-color: #3C3D3E;
	margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 250px);
  /* Set the fixed height of the footer here */
  transition: all 0.5s ease;
}

footer p{
	text-align: center;
	font-size: 18px;
}

footer img {
	height: 25px;
}

footer.toggled {
	width: 100%;
}

footer.mobile{
	width: 100%;
}

footer.mobile p{
	font-size: 28px;
}

footer.mobile img{
	height: 40px;
}