/*--------------------CARDS--------------------*/
.tile-grid {
	margin: 50pt 10% 0 10%;
}

.tile-grid ul {
	list-style: none;
	z-index: 1000;
}

.tile-grid li {
	margin: 0 5pt 2pt 0pt;
	padding: 0 2pt 0 2pt;
	float: left;
}

.tile {
	border-width: 0px;
	border-style: solid;
	border-color: #333;

	display: inline-block;
	position: relative;
	float: left;
	width: 247.5pt;
	height: 300pt;
	margin: 0 0pt 10pt 10pt;

	text-align: left;
	font-family: 'Secular One';
	color: black;

	background-color: #3e3e3e;
}

/*---FILTERS---*/
.tile-grid .tile-filters{
	text-align: center;
}

.tile-filters ul {
	z-index: 1000;
	display: inline-block;
}

.tile-filters li {
	font-size: 20px;
	font-family: 'Oswald';
	color: #222;

    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tile-filters li:hover{
	cursor: pointer;
	color: #777;
}

.tile-filters li.active{
	color: #999;
}

.tile-filters li.active:hover{
	color: #ccc;
}

/*---BACKGROUND---*/
.tile-image img {
	display: inline-block;
	width: 100%;
	height: auto;
	transition: opacity 0.2s ease-in-out;
	opacity: 1;
    cursor: pointer;
}

.tile:hover .tile-image img{
	opacity: 0.75;
}


/*---TITLE---*/
.tile h1, .tile video h1{
	color: #aaa;
	font-weight: bold;
	font-size: 25px;
	margin: 10px 0 0 0;
}

.tile h2, .tile video h2 {
	color: #676767;
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 0px 0px;
}

.tile-title {
	padding: 0 20pt 0pt 20pt;
}

/*---DESCRIPTION---*/
.tile-content hr{
	border: none;
	height: 3px;
	color: white;
	background-color: #343535;
}

.tile-content {
    position: absolute;

    bottom: 20pt;
    left: 0;
    padding: 0 20pt 0pt 20pt;
    height: 80pt;

    color: #aaa;
    font-family: 'Oswald';
    font-size: 16px;
}

/*---TAGS---*/
.tile li{
	background-color: #5f2525;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #222;
}

.tile .tile-tags {
	position: absolute;
    bottom: 0pt;
    right: 0;
    float: right;

    color: #ddd;
}

/*--------------------TEXT FIELD--------------------*/

.textField {
	position: relative;
	padding: 50px 20% 50px 20%;
	background-color: #3e3e3e;

	font-family: 'Raleway';
	z-index: 1;
}

.textField h1, h2, h3{
	font-family: 'Oswald';
}

.textField ul{
	margin-bottom: 0;
}

/*--------------------YOUTUBE EMBEDDING--------------------*/
.youtube-container { display: block; width: 100%; max-width: 600px; }
.youtube-player { display: block; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

/*--------------------GENERAL--------------------*/
html {
	margin: 0;
}

body {
	color: rgb(180, 180, 180);
	background-color: #444;
	background-image: url("http://www.gearedgam.es/application/assets/gearedbg.png");*/
}

.strokeDark
{
    text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;  
}

.strokeLight
{
	text-shadow:
	-1px -1px 0 #ccc,
	1px -1px 0 #ccc,
	-1px 1px 0 #ccc,
	1px 1px 0 #ccc; 
}

/*--------------------FOOTER--------------------*/

footer {
	position: relative;
	background-color: #191919;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 150px;
	color: #aaa;
	z-index: 2;
}

footer p{
	text-align: center;
	font-size: 18px;
	margin-bottom: 0;
}

footer img {
	height: 25px;
}