/*--------------------TILES--------------------*/

.tile {
	width: 100%;
	height: 600pt;

	font-size: 30px;
	margin-bottom: 40pt;
}

.tile h1 {
	font-size: 50px;
}

.tile h2 {
	font-size: 40px;
}

.video .tile-content {
	height: 200px;
}

.tile-content {
    height: 190pt;
    font-size: 30px;

    font-family: 'Oswald';
}

/*---BACKGROUND---*/
.tile-image img {
	height: 300pt;
}

.video .tile-image img {
	height: 400pt;
}

/*---FILTERS---*/
.tile-filters li {
	font-size: 50px;
	margin-right: 20px;
}

/*--------------------GENERAL--------------------*/
footer p{
	font-size: 28px;
}

footer img{
	height: 40px;
}

