/*--------------------TILES--------------------*/

.tile {
	width: 100%;
	height: 800px;

	font-size: 30px;
	margin-bottom: 40pt;
}

.tile h1 {
	font-size: 50px;
}

.tile h2 {
	font-size: 40px;
}

.video .tile-content {
	height: 150px;
}

.tile-content {
    height: 150pt;
    font-size: 30px;

    font-family: 'Oswald';
}

/*---BACKGROUND---*/
.tile-image img {
	opacity: 0.4;
}

/*---FILTERS---*/
.tile-filters li {
	font-size: 50px;
	margin-right: 20px;
}

/*--------------------GENERAL--------------------*/
footer p{
	font-size: 28px;
}

footer img{
	height: 40px;
}

