---
layout: page
id: home
---

<div class="text text-home">
	<h1>Geert Beuneker: Programmer &amp; Designer</h1>
	<p>Welcome to my Video and Video games portfolio.<br>
	Here you can browse through all the videos, video games and video game related content I have created. <br>
	Games shown on this site are the product of several game jams, game-a-week sessions and hobby projects on the side. <br>
	The videos here are mostly inspired by video games and game design.
	</p>

	<h1>Recent posts</h1>
  <div class="tiles">

    {% for post in site.posts limit:3 %}

  		<a class="tile" href="{{site.baseurl}}{{post.url}}">
  		  <div class="tile-image">
  				{% if post.category == "video" %}
					<img src="https://img.youtube.com/vi/{{post.video_id}}/0.jpg" />
  				{% else %}
  				<img src="{{site.baseurl}}{{post.images[0].url}}"/>
  				{% endif %}
  		  </div>


  		  <div class="tile-text">
		{% if post.category != "video" %}
  		    <div class="tile-title">
  		      <h1>{{post.title}}</h1>
  		    </div>
		{% endif %}
  		    <div class="tile-excerpt">
  		      <p>{{post.excerpt}}</p>
  		    </div>
  		  </div>

  		</a>
  	{% endfor %}

  </div>

</div>
