
<header>

<div class="header-logo">
    <img src="{{site.baseurl}}/assets/images/geared_logo_light.png" alt="Geared Logo">
</div>

<div class="header-links">
  <p>Contact me</p>
  <ul>
    <li> <a href="#"><img src="{{site.baseurl}}/assets/images/yt-icon-dark.png"></a></li>
    <li><a href="#"><img src="{{site.baseurl}}/assets/images/linkedin-dark.png"></a></li>
    <li><a href="#"><img src="{{site.baseurl}}/assets/images/twitter-dark.png"></a></li>
  </ul>
</div>

<nav class="header-navbar">
  <img src="{{site.baseurl}}/assets/images/gear.png" id="nav-gear">
  <ul>
    <li>
        <a class="nav-element" id="{% if page.id == "home" %}active{%endif%}" href="{{site.baseurl}}/index.html">Home</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "games" or page.category == "game" %}active{%endif%}" href="{{site.baseurl}}/games">Games</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "videos" or page.category == "video" %}active{%endif%}" href="{{site.baseurl}}/videos">Videos</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "about" %}active{%endif%}" href="{{site.baseurl}}/about">About</a>
    </li>
  </ul>
</nav>

</header>
