
<header>

<div class="header-logo">
    <img src="{{site.baseurl}}/assets/images/geared_logo_light.png" alt="Geared Logo">
</div>

<nav class="header-navbar">
  <img src="{{site.baseurl}}/assets/images/gear.png" id="nav-gear">
  <ul>
    <li>
      <a class="nav-element" href="#">Games</a>
    </li>
    <li>
      <a class="nav-element" href="#">Videos</a>
    </li>
    <li>
      <a class="nav-element" href="#">About</a>
    </li>
    <li>
      <a class="nav-element" href="#">Contact</a>
    </li>
  </ul>
</nav>

</header>
