
<header>

<div class="header-logo">
    <img src="{{site.baseurl}}/assets/images/geared-logo-dark.png" alt="Geared Logo">
</div>

<div class="header-links">
  <p>Contact</p>
  <ul>
    <li> <a href="https://www.youtube.com/c/DigiDigger"><img src="{{site.baseurl}}/assets/images/yt-icon.png"></a></li>
    <li><a href="https://www.linkedin.com/in/gbeuneker"><img src="{{site.baseurl}}/assets/images/linkedin-icon.png"></a></li>
    <li><a href="https://twitter.com/Geared_Up"><img src="{{site.baseurl}}/assets/images/twitter-icon.png"></a></li>
     <li><a href="https://drive.google.com/uc?export=download&id=0B-BSZRLf8PuDdE00NERYeW5uLU0"><img src="{{site.baseurl}}/assets/images/cv-icon.png"></a></li>
  </ul>
</div>

<nav class="header-navbar">
  <img src="{{site.baseurl}}/assets/images/gear-dark.png" id="nav-gear">
  <ul>
    <li>
        <a class="nav-element" id="{% if page.id == "home" %}active{%endif%}" href="{{site.baseurl}}/index.html">home</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "games" or page.category == "game" %}active{%endif%}" href="{{site.baseurl}}/games">games</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "videos" or page.category == "video" %}active{%endif%}" href="{{site.baseurl}}/videos">videos</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "programming" or page.category == "program" %}active{%endif%}" href="{{site.baseurl}}/programming">programming</a>
    </li>
    <li>
      <a class="nav-element" id="{% if page.id == "about" %}active{%endif%}" href="{{site.baseurl}}/about">about</a>
    </li>
  </ul>
</nav>

</header>
