footer {
  margin:0;
  text-align: center;
  background-color: #3a3a3a;
  color: #555;
  padding: 10px;
  font-family: Orbitron;
  font-size: 10px;

  bottom: 0;
  height: 50px;
  width: 100%;
}

footer p
{
  margin: 0;
}
