.header-logo
{
  height: 80pt;
    top: 3pt;
}
.header-navbar
{
  height: 50pt;
}

.header-navbar a
{
  font-size: 15pt;
}

.header-links
{
  top: 25pt;
}

.header-links p
{
 display: none;
}

.header-links img
{
  height: 23pt;
  opacity: 0.6;
  transition: opacity 0.1s;
  margin-right: 5px;
}
