//----------HEADER LOGO----------
.header-logo
{
  position: absolute;
  height: 100px;
  top: -8px;
  z-index: 3;

  margin: 0;
}
.header-logo img
{
  height: 100%;
}

//----------HEADER NAVIGATION BAR----------
.header-navbar
{
  position: relative;
  z-index: 2;

  text-align: center;
  border-width: 0;
  height: 50px;

  background-color: #c9c9c9;
}

.header-navbar ul
{
  display: inline-block;
  overflow: hidden;
  list-style-type: none;

  height: 100%;
}

.header-navbar li
{
  float: left;

  margin: 0px;
  height: 100%;
}

.header-navbar a
{
  display: block;

  text-decoration: none;
  font-size: 18px;
  font-weight: 900;

  font-family: "Century Gothic", sans-serif;

  padding: 24px 16px 16px 16px;
  margin: 0px;

  color: #3a3a3a;
}

.header-navbar a:hover
{
  background-color: #888;
}

//----------HEADER NAVIGATION GEAR----------
#nav-gear
{
  position: absolute;
  top: -25px;
  left: -50px;
  height: 50px;
  z-index: 1;
}

//----------HEADER SOCIAL LINKS----------
.header-links {
  font-family: "Century Gothic", sans-serif;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 3;
}

.header-links img{
  height: 25px;
  opacity: 0.6;
  transition: opacity 0.1s;
}

.header-links img:hover {
  opacity: 1;
}

.header-links li{
list-style: none;
float: left;
margin-left: 5px;
padding: 0;
}

.header-links ul {
  float: left;
  margin-left: 5px;
  padding: 0;
}

.header-links p {
  float: left;
}
