.post-content
{

}

.post-banner
{
  height: 250px;
  background-attachment: fixed;
  background-position: 50% 10px;
  background-repeat: no-repeat;
  background-size: 100% auto;

  text-align: center;

  background-color: #222;
}

.post-banner h1
{
  margin: 0;
  bottom: 0%;
  transform: translate(0,200px);
}
