.text
{
  font-family: 'Raleway';
  font-size: 15px;
}

.text h1
{
  font-weight: bold;
  font-family: 'Secular One';
}

.text h2
{
  font-family: 'Oswald';
}

.text-home
{
  text-align: center;

}

.text-about
{
  text-align: left;
}
