.tiles
{
	padding: 0;
	margin: 0 auto;
	width: 1060px;
}

.tiles-featured
{
	text-align: center;
}

.tile {
	border-width: 0px;
	border-style: solid;
	border-color: #333;

	display: inline-block;

	//-----Set in tiles.js-----
	width: 250pt;
	height: 300pt;
	//----------

  margin: 10px;

	padding: 0;
	text-align: left;
	color: black;
	transform: rotateY(90deg);

	background-color: #191919;
	animation: turnAround 1s forwards;
}

@keyframes turnAround {
	from { transform: rotateY(90deg)}
	to   { transform: rotateY(0deg)}
}

.tile:hover
{
  	background-color: #999;
		text-decoration: none;
}

.tile-image
{
	width: 100%;
}

.tile-image img
{
	width: 100%;
	opacity: 0.9;
	margin: 0;
}

.tile-title
{
		font-family: 'Secular One';
}

.tile-title h1
{
margin: 0;
padding: 0;
}

.tile-text{
	padding: 10px;
	font-family: 'Oswald';
	font-size: 12pt;
	color: #aaa;
}

.tile-tag {
	font-family: 'Secular One';
}

@media only screen and (max-width:1020px)
{
	.tiles
	{
		width: auto;
		text-align: center;
	}

	.tile{
		width: 400pt;
		height: 500pt;
	}

	.tile-title h1{
		font-size: 40pt;
	}

	.tile-text{
		font-size: 16pt;
	}
}
