/*--------------------WRAPPER--------------------*/
#wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 100px 250px;
    transition: all 0.5s ease;
}

#wrapper.mobile{
    padding: 0 0 140px 0px;
}

#wrapper.mobile #sidebar{
	width: 0px;
}

#wrapper.toggled {
	padding-left: 0px;
}

#wrapper.toggled #sidebar {
    width: 0px;
}

#wrapper.toggled.mobile #sidebar {
    width: 500px;
}

/*--------------------BUTTON--------------------*/

#menu-toggle{
	position: absolute;
    margin-left: 0;
	z-index: 200;
    transition: all 0.5s ease;
}

#menu-toggle.mobile{
    margin-left: 0px;
}

#menu-toggle img{
    margin-top: 10px;
}

#menu-toggle.toggled {
    margin-left: 0px;
}

#menu-toggle.mobile.toggled {
	margin-left: 500px;
}

#topLogo{
	position: fixed;
	top: 0;
	width: 50px;
	transition: all 0.5s ease-in-out;
}

#topLogo.mobile{
	transition: none;
	width: 100px;
}

#bottomLogo{
	position: fixed;
	top: 46px;
	width: 50px;
}

#bottomLogo.mobile{
	top: 92px;
	width: 100px;
}

/*--------------------SIDEBAR--------------------*/
#sidebar {
	z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 200%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    transition: all 0.5s ease;
}

#sidebar.mobile{
	width: 500px;
	left: 250px;
}

.sidebar-nav {
	position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav.mobile{
	width: 500px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav.mobile li{
	font-size: 30px;
	text-align: center;
	line-height: 100px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav .active{
	text-decoration: none;
    color: #fff;
	background: #444;
}

/*--------------------RESPONSIVE ELEMENTS--------------------*/
@media only screen and (max-width: 760px) {
    #wrapper{
        padding: 0px;
    }

    #menu-toggle{
        margin-left: 250px;
    }

    footer{
        width: 100%;
    }
}