<!DOCTYPE html>
	<html lang="en">
		<head>
      <meta charset="utf-8">
			<title>Geared Games</title>

			<!-- externals -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/main.css">

			<!-- scripts -->
			<script src="{{site.baseurl}}/assets/javascripts/nav-gear.js"></script>
		</head>
		<body>
      {% include header.html %}

			<div class="container">
			{{ content }}
			</div>

      {% include footer.html %}
		</body>
	</html>
